<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">  <!--${members}는 model에서 key=members로 얻어온 member 리스트-->
                <td th:text="${member.id}"></td>   <!--${member.id}는 member 객체의 id-->
                <td th:text="${member.name}"></td>  <!--${member.name}는 member 객체의 name-->
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>